* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .container h1 {
    padding: 20px 0;
    margin-left: 400px;
    margin-top: 40px;
    color: red;
  }
  .container h1 span {
    color: black;
  }
  .cart {
    display: flex;
    justify-content: space-between;
  }
  
  .product {
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border: 1px solid red;
    margin-bottom: 20px;
  }
  
  .product img {
    width: 300px;
    height: 200px;
    object-fit: fill;
  }
  
  .product:hover {
    border: none;
    box-shadow: 2px 2px 4px;
    transform: scale(1.01);
  }
  .products {
    width: 60%;
  }
  .product img:hover {
    transform: scale(1.04);
  }
  
  .product-info {
    padding: 20px;
    width: 100%;
    position: relative;
  }
  .product-name .product-price {
    margin-bottom: 20px;
  }
  
  .product-remove {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 25px;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  .product-remove:hover {
    background-color: white;
    color: red;
    font-weight: 600;
    border: 1px solid red;
  }
  
  .product-quantity input {
    width: 40px;
    padding: 5px;
    text-align: center;
  }
  .fa {
    margin-right: 5px;
  }
  .cart-total {
    width: 30%;
  
    height: 240px;
    border: 1px solid red;
    padding: 20px;
    border-radius: 5px;
  }
  
  .cart-total p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .cart-total a {
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: red;
    color: white;
    text-decoration: none;
  }
  
  .cart-total a:hover {
    background-color: white;
    color: red;
    border-radius: 5px;
    border: 1px solid red;
  }
  
  .header {
    padding: 20px;
    width: 100%;
    background: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
  }
  
  .header .logo {
    font-style: italic;
    font-size: 20px;
  }
  
  .header .logo span {
    color: red;
  }
  
  .header nav {
    color: #0000;
  }
  
  .header nav a {
    font-size: 14px;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color: black;
  }
  
  .header nav a {
    color: white;
    background-color: red;
    margin-left: 30px;
    border-radius: 30px;
  }
  
  .header nav a:hover {
    opacity: 0.9;
    color: black;
  }