* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    font-weight: 700;
  }
  
 
  
  .header {
    padding: 20px;
    width: 100%;
    background: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .header .logo {
    font-style: italic;
    font-size: 20px;
  }
  
  .header .logo span {
    color: red;
  }
  
  .header nav {
    color: red;
    background-color: white;
  }
  
  .header nav a {
    font-size: 14px;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color: red;
  }
  
  .header nav a {
    color: white;
    background-color: red;
    margin-left: 30px;
    border-radius: 30px;
    border: 1px solid red;
  }
  
  .header nav a:hover {
    opacity: 0.9;
    color: red;
    background-color: white;
  }
  
  .container {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    height: 575px;
    margin-top: 2
  }
  
  .content-container h1 {
    color: red;
    font-weight: 900;
    font-size: 90px;
    line-height: 0.9em;
    /* margin-bottom: 30px; */
    margin-top: 154px;
  }
  
  .content-container p {
    line-height: 1.8em;
    font-weight: 500;
  }
  
  .content-container button {
    border: none;
    outline: none;
    color: white;
    background-color: red;
    padding: 16px 0px;
    border-radius: 40px;
    font-size: 16px;
    width: 160px;
    margin-top: 30px;
    cursor: pointer;
  }
  
  .content-container button:hover {
    opacity: 0.9;
  }
  
  .content-container button a {
    text-decoration: none;
    color: white;
  }