*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
 body{
     display: grid;
     min-height: 100vh;
    place-content: center;
 }

 .container{
     max-width: 850px;
     width: 100%;
     
 }

 .row {
     display: flex  ;
 }

 input {
     display: block;
 }