*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
 body{
     display: grid;
     min-height: 100vh;
    place-content: center;
 }

 .container{
     max-width: 850px;
     width: 100%;
     
 }

 .row {
     display: flex  ;
 }

 input {
     display: block;
 }

 .header {
    padding: 20px;
    width: 100%;
    background: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .header .logo {
    font-style: italic;
    font-size: 20px;
  }
  
  .header .logo span {
    color: red;
  }
  
  .header nav {
    color: red;
    background-color: white;
  }
  
  .header nav a {
    font-size: 14px;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color: red;
  }
  
  .header nav a {
    color: white;
    background-color: red;
    margin-left: 30px;
    border-radius: 30px;
    border: 1px solid red;
  }
  
  .header nav a:hover {
    opacity: 0.9;
    color: red;
    background-color: white;
  }
  


  .login-box{
      background-color: red;
      font-size: 20px;
      font-weight: bolder;
     
  }